@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 130px; /* adjust as needed */
}


@layer utilities {
  @keyframes scroll-bg {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 100%;
    }
  }

  .animate-scroll-bg {
    animation: scroll-bg 30s linear infinite;
  }
}
